.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  background-color: rgb(243, 226, 203);
  display: flex;
  flex-direction: column;
}

.sidebar__logo {
  display: grid;
  place-items: center;
  height: 120px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Mochiy Pop P one", sans-serif;
}

.sidebar__menu {
  position: relative;
  
}

.sidebar__menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #555555;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.sidebar__menu__item.active {
  color: #fff;
  text-decoration: none;
  
}

.sidebar__menu__indicator {
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 40px);
  border-radius: 10px;
  background-color: #85b8f5;
  z-index: -1; 
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
}

.sidebar__footer {
  margin-top: auto; 
  padding: 10px; 
  text-align: center; 
}

.create-list-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.create-list-button:hover {
  background-color: #45a049;
}